.h1-praktik {
  color: blue;
  background-color: blueviolet;
}
.h1-praktik:hover {
  cursor: pointer;
  color: red;
  background-color: purple;
}
.btn-c {
  cursor: pointer;
  color: yellow;
  background-color: yellowgreen;
}
.btn-c:hover {
  cursor: pointer;
  color: green;
  background-color: greenyellow;
}

.container {
  display: flex;
  background-color: #37517e;
}

.column {
  flex: 1;
  padding: 20px;
}

.column img {
  max-width: 100%;
  height: auto;
}

.h1-white {
  color: white;
}

.p-white {
  color: white;
}

.column-2btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  background-color: aqua;
}
