@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --nav-height: 20px;
  --heading-height: 20px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  overflow-x: hidden;
}

nav > div > a {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-family: Roboto;
}

#title > h1 {
    color: #212529;
    font-family: Roboto;
    font-size: 32px;
    line-height: 40px; /* 123.871% */
}

#title > p {
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    line-height: 32px; /* 150% */
}

#detail-product > h1 {
    color: #212529;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px; /* 125.217% */
}

.input-forms {
    background-color: white!important;
    border-color: #0D6EFD!important;
    color: #0D6EFD!important;
    width: 45%!important;
}

.input-forms::file-selector-button {
    background-color: #0D6EFD!important;
    color: white!important;
}

.group-form > button {
    width: 100%!important;
}

image {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 600px){
    #title > p {
        font-size: 14px;
        max-width: 90%;
    }

    #detail-product {
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 1200px){
    #title > p {
        font-size: 14px;
        max-width: 90%;
    }

    #detail-product {
        padding: 0px 80px;
    }
}